#notesformwrap, #noteslistwrap{
  padding: 20px 30px;
}
.panel{
  margin-top: 20px;
}
.button-block{
  float:right;
}
.panel-body{
  color:black;
}
.btn-xs{
  margin-left: 8px;
}
.userforms{
  margin: auto;
  width: 600px;
  position: relative;
}

.panel-group{
  width: 100%;
  position: absolute;
  left: 0;
  overflow: auto;
  padding: 20px 30px;
}